@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@model Models.ViewModels.Identities.LoginViewModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings

@{
    ViewBag.Title = "Login user";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h3>Please login</h3>
    </div>
    
    @using (Html.BeginForm("LoginHandler", "Identity", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Username, new { @class = "control-label col-sm-2" })
        
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Username, new { type = "text", placeholder = "Enter username", @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label col-sm-2" })

            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Password, new { type = "password", placeholder = "Enter password (at least 8 alphanumeric characters with special characters)", @class = "form-control", required = "required", pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" })
            </div>
        </div>
        
        @Html.Recaptcha(RecaptchaSettings.Value)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    }
</div>